<!DOCTYPE html>
<html>
    <head>
        <title>Lilo</title>
        {% stylesheets
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
            '@LiloAppBundle/Resources/assets/less/login.less'
            output='css/login.css'
            filter='yui_css'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            <form action="{{ path('_auth_check') }}" method="post" class="form-signin" role="form">
                <h2 class="form-minimal-heading">Lilo</h2>

                {% if error is not null %}
                    <div class="alert alert-danger">You could not be authenticated.</div>
                {% endif %}

                <input type="text" class="form-control first" id="username" name="_username" placeholder="Username" value="{{ lastUsername }}" />
                <input type="password" class="form-control second" id="password" name="_password" placeholder="Password" />

                <button class="btn btn-block btn-primary" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>