{% extends '@LiloApp/base.html.twig' %}

{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>Users</h1>
        </div>

        <div class="row">
            <form class="form-horizontal" action="" method="post" {{ form_enctype(userForm) }}>
                {{ form_widget(userForm, {'form_type': 'horizontal'}) }}
                <div class="form-actions">
                    <input type="submit" name="add" class="btn btn-primary" value="&raquo; {% block form_submit_button_value %}Add{% endblock %}" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
