{% extends '@LiloApp/base.html.twig' %}

{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>Users</h1>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="actions"></th>
                        <th width="225px">Name</th>
                        <th>Code</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="actions">
                                <a class="batch edit" href="{{ path('_admin_user_edit', {'username': user.getUsername()}) }}" data-icon="&#xF139;"></a>
                                <a class="batch delete" href="{{ path('_admin_user_delete', {'username': user.getUsername()}) }}" data-icon="&#xF056;"></a>
                            </td>
                            <td>{{ user.getFullName() }}</td>
                            <td>{{ user.getCode() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
